:root {	
	--primary-color: black;
	--secondary-color: #ffffff;

	--primary-font: 'Quicksand', sans-serif;
}

body {
	height: 97vh;
	font-family: var(--primary-font);
	background-color: lightgrey;
}

.header-title-container {
	text-align: center;
}
.header-button-container {
	width: 150px;
	height: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
}

main {
	height: 85vh;
}
/* CSS */
#playGame {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	font-family: var(--primary-font);
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
}

#playGame:disabled {
	pointer-events: none;
}

#playGame:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
}

#playGame:active {
	box-shadow: none;
	transform: translateY(0);
}

.game-status {
	text-align: center;
	display: none;
}

.user-container {
	position: relative;
	width: 100%;
	height: 45%;
	margin: -1px;
	border: 1px solid #3B3B3B;
}

.user-tableau {
	position: absolute;
	top: 0;
	left: 10%;
	height: 70%;
	width: 80%;
	margin-top: -1px;
	border: 1px solid #3B3B3B;
}

.user-hand {
	position: absolute;
	width: 70%;
	height: 30%;
	bottom: 0;
	left: 15%;
	margin-bottom: -1px;
	border: 1px solid #3B3B3B;
}

.user-side-deck {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 10%;
	margin: -1px;
	border: 1px solid #3B3B3B;
}

.shared-zone {
	height: 10%;
	width: 100%;
	border: 1px solid #3B3B3B;
	margin: -1px;
}

.bot-container {
	position: relative;
	width: 100%;
	height: 45%;
	margin: -1px;
	border: 1px solid #3B3B3B;
}

.bot-tableau {
	position: absolute;
	bottom: 0;
	left: 10%;
	height: 70%;
	width: 80%;
	margin-bottom: -1px;
	border: 1px solid #3B3B3B;
}

.bot-hand {
	position: relative;
	width: 70%;
	height: 30%;
	top: 0;
	left: 15%;
	margin-top: -1px;
	border: 1px solid #3B3B3B;
	table {
		table-layout: auto;
		width:100%;
		height: 100%;
	}
}

.bot-side-deck {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 10%;
	margin: -1px;
	border: 1px solid #3B3B3B;
}

.card {	
    bottom: 0;
    overflow-x:auto;
    position: absolute;
	height: 100%;
	cursor: pointer;
	filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.4));
}

table{
	height: 100%;
}


/* 


.card-container {
	position: relative;
	height: 100%;
	width: calc(var(--card-width-lg) * (var(--num-cards) / 2) + var(--card-horizontal-space-lg));
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "a b c d";
}



.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card-img {
	height: 100%;
}

.card-back {
	transform: rotateY(180deg);
}

.card-inner.flip-it {
	transform: rotateY(180deg);
}

.card.fly-in {
	transform: translateY(-1000px) translateX(-600px) rotate(45deg);
} */